@font-face {
  font-family: 'Monosten-Regular';
  src: url('../fonts/Monosten-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Monosten-Regular.otf')  format('opentype'),
  		url('../fonts/Monosten-Regular.woff') format('woff'), 
  		url('../fonts/Monosten-Regular.ttf')  format('truetype'), 
  		url('../fonts/Monosten-Regular.svg#Monosten-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monosten-Bold';
  src: url('../fonts/Monosten-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Monosten-Bold.otf')  format('opentype'),
  		url('../fonts/Monosten-Bold.woff') format('woff'), 
  		url('../fonts/Monosten-Bold.ttf')  format('truetype'), 
  		url('../fonts/Monosten-Bold.svg#Monosten-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monosten-Light';
  src: url('../fonts/Monosten-Light.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Monosten-Light.otf')  format('opentype'),
  		url('../fonts/Monosten-Light.woff') format('woff'), 
  		url('../fonts/Monosten-Light.ttf')  format('truetype'), 
  		url('../fonts/Monosten-Light.svg#Monosten-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
