// Colors
$error:			#ed2024;
$success:		#0b8943;

$brand-tech: #00ded0;
$brand-exec: #ff4072;

$teal-508: #008085; // lightest teal on white bg
$red-508: #EB003F; // lightest red on white bg

$teal: #00ded0;
$yellow: #ffc800;
$blue: #5159ff;
$red: #ff4072;
$black: #000;
$darkgrey: #333;
$darkgrey666: #666;
$darkgrey999: #999;
$midgrey: #d7d7d7;
$lightgrey: #eee;
$white: #fff;
$page-bg: #f8f8f8;

$max-width: 1400;